body {
    margin-left: 25px;
}

.color {
    border: black 1px solid;
    display: inline-block;
    width: 47px;
    height: 47px;
    opacity: 0.7;
}

.color:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}

#clear-board {
    margin-bottom: 5px;
    font-size: x-small;
}

#title {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#sub-title {
    margin-bottom: 0;
}